@import 'utility/colors';
@import 'utility/responsive';
@import 'utility/constants';

$navbar-width: 10rem;

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: $navbar-z-index;

  pointer-events: none;

  .navbar-backdrop {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);

    pointer-events: none;
    transition: opacity 0.2s ease-in-out;

    &.hidden {
      display: none;
    }

    &.panning {
      transition: none;
    }
  }

  .navbar {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    pointer-events: auto;

    height: 100%;
    width: $navbar-width;

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, padding-left 0.2s ease-in-out;

    &.collapsed {
      transform: translateX(calc(100% - #{$navbar-side-width}));
      padding-left: #{$navbar-side-width};

      @media (max-width: $md) {
        transform: translateX(100%);
        padding-left: 0;
      }

      .navbar-side {
        width: $navbar-side-width;
        opacity: 1;
      }
    }

    &.panning {
      transition: padding-left 0.2s ease-in-out;
    }

    .navbar-side {
      position: absolute;
      top: 0;
      left: 0;

      overflow: hidden;
      opacity: 0;

      height: 100%;
      width: 0;
      padding: 1rem 0.25rem;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;

      @media (max-width: $md) {
        display: none;
      }

      .navbar-side__route {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-weight: 600;
        font-size: 1.1rem;
        writing-mode: vertical-rl;

        transform: rotate(180deg);

        text-align: center;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: calc(50% - 1.1rem + 0.25rem);
          width: 2px;
          height: 100%;
        }
      }
    }

    .navbar-content {
      height: 100%;
      width: 100%;

      padding: 1rem;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .navbar-top {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;

        width: 100%;
      }

      .navbar-bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;

        width: 100%;
      }

      .navbar-link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        padding: 1rem 1.5rem;
        width: 100%;

        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
        transition: color 0.2s ease-in-out;

        position: relative;

        &:hover:not(.active) {
          &:before {
            transform: scaleX(1);
          }
        }

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;

          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.1s ease-in-out;
        }

        &.active {
          &:before {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }

    @include theme() {
      background-color: theme-get('accent-l2');

      .navbar-side {
        color: theme-get('text');

        .navbar-side__route:after {
          background-color: theme-get('primary-l1');
        }
      }

      .navbar-link {
        &:hover:not(.active) {
          color: theme-get('primary-l1');
        }

        &:before {
          background-color: theme-get('primary-l1');
        }

        &.active {
          color: theme-get('primary');
        }

        color: theme-get('text');
      }
    }
  }
}
