<!-- backdrop -->
<div
  class="navbar-backdrop"
  (click)="collapse()"
  [class.hidden]="!isMobile"
  [class.panning]="isPanning"
  [style.opacity]="backdropOpacity"
  #navbarBackdrop
></div>

<section
  class="navbar"
  (mouseenter)="expand()"
  (mouseleave)="collapse()"
  [class.collapsed]="isCollapsed"
  [class.panning]="isPanning"
  [style.transform]="panningTransform"
  #navbar
>
  <aside class="navbar-side" #navbarSide>
  <span class="navbar-side__route">
    {{ routeTitle }}
  </span>
  </aside>

  <main class="navbar-content">
    <section class="navbar-top">
      <a
        class="navbar-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page"
      >Home</a>
      <a
        class="navbar-link"
        routerLink="/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >About</a>
      <a
        class="navbar-link"
        routerLink="/contact"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >Contact</a>
      <a
        class="navbar-link"
        routerLink="/cv"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >CV</a>
    </section>
    <section class="navbar-bottom">

    </section>
  </main>
</section>
