@import 'utility/colors';

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 0.25rem;

  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
  cursor: pointer;

  font-size: 1.2rem;

  > * {
    pointer-events: none;
  }

  &:active {
    transform: scale(0.95);
  }

  @include theme() {
    outline-color: theme-get('primary');

    &:focus {
      outline: 2px solid theme-get('primary');
    }

    &.btn-primary {
      color: theme-get('text');
      background-color: theme-get('accent-l1');

      &:hover {
        background-color: theme-get('accent-l1-hover');
      }

      &:active {
        background-color: theme-get('accent-l1-active');
      }
    }

    &.btn-secondary {
      color: theme-get('text');
      background-color: theme-get('accent-l2');

      &:hover {
        background-color: theme-get('accent-l2-hover');
      }

      &:active {
        background-color: theme-get('accent-l2-active');
      }
    }
  }
}
