$_primary: rgb(188, 255, 136); // Inch Worm
$_primary-active: rgb(210, 255, 158); // Inch Worm
$_primary-hover: rgb(232, 255, 180); // Inch Worm

$_primary-l1: rgb(210, 255, 158); // Inch Worm
$_primary-l1-active: rgb(232, 255, 180); // Inch Worm
$_primary-l1-hover: rgb(254, 255, 202); // Inch Worm

$_primary-l2: rgb(237, 255, 217); // Nyanza
$_primary-l2-active: rgb(255, 255, 239); // Nyanza
$_primary-l2-hover: rgb(255, 255, 239); // Nyanza

$themes: (
  dark: (
    'text': white,

    'accent': rgb(21, 37, 58),
    'accent-active': rgb(43, 59, 80),
    'accent-hover': rgb(65, 81, 102),

    'accent-l1': rgb(43, 59, 80),
    'accent-l1-active': rgb(65, 81, 102),
    'accent-l1-hover': rgb(87, 103, 124),

    'accent-l2': rgb(65, 81, 102),
    'accent-l2-active': rgb(87, 103, 124),
    'accent-l2-hover': rgb(109, 125, 146),

    'primary': $_primary,
    'primary-active': $_primary-active,
    'primary-hover': $_primary-hover,

    'primary-l1': $_primary-l1,
    'primary-l1-active': $_primary-l1-active,
    'primary-l1-hover': $_primary-l1-hover,

    'primary-l2': $_primary-l2,
    'primary-l2-active': $_primary-l2-active,
    'primary-l2-hover': $_primary-l2-hover,
  ),
  light: (
    'text': rgb(21, 37, 58),

    'accent': white,
    'accent-active': rgb(208, 223, 255),
    'accent-hover': rgb(186, 203, 255),

    'accent-l1': rgb(208, 223, 255),
    'accent-l1-active': rgb(186, 203, 255),
    'accent-l1-hover': rgb(164, 183, 255),

    'accent-l2': rgb(186, 203, 255),
    'accent-l2-active': rgb(164, 183, 255),
    'accent-l2-hover': rgb(142, 163, 255),

    'primary': $_primary,
    'primary-active': $_primary-active,
    'primary-hover': $_primary-hover,

    'primary-l1': $_primary-l1,
    'primary-l1-active': $_primary-l1-active,
    'primary-l1-hover': $_primary-l1-hover,

    'primary-l2': $_primary-l2,
    'primary-l2-active': $_primary-l2-active,
    'primary-l2-hover': $_primary-l2-hover,
  ),
);

$theme-map: null;

@mixin theme() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;

    .#{$theme} & {
      @content;
    }
  }
  $theme-map: null !global;
}

@function theme-get($key) {
  @return map-get($theme-map, $key);
}
