@import 'utility/colors';
@import 'utility/responsive';
@import 'utility/buttons';
@import 'utility/animations';

@import 'global/spinner';

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

  align-items: center;
  justify-content: center;

  &.dark {
    background-color: map-get($themes, dark, 'accent');
    color: map-get($themes, dark, 'text');
  }
  &.light {
    background-color: map-get($themes, light, 'accent');
    color: map-get($themes, light, 'text');
  }

  background-color: map-get($themes, dark, 'accent');
  color: map-get($themes, dark, 'text');
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
